
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.rolling-container {
    overflow-x: scroll; 
    animation: rolling 5s linear infinite;
}
  @keyframes rolling {
    from { transform: translateY(calc(-0vw + 0%)); }
    to { transform: translateY(calc(-100vw + 100%)); }  
}

 
    .motion-animation-down {
      animation: movedown 20s infinite alternate;
    }
    .motion-animation-up {
        animation: moveup 20s infinite alternate;
      }
  
    @keyframes movedown {
      0% {
        transform: rotate(80deg) translateX(50%);
      }
      100% {
        transform: rotate(45deg) translateX(-50%);
      }
    }
    @keyframes moveup {
        0% {
          transform: rotate(45deg) translateX(50%);
        }
        100% {
          transform: rotate(45deg) translateX(-50%);
        }
      }
 